@media only screen and (max-width: 425px) {
  .main_subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-left: -78px;
    text-align: center;
  }
  .main_title {
    font-size: 40px;
    font-weight: 800;
    color: #100f3a;
    line-height: 1;
    margin-top: 13px;
    text-align: center;
    margin-left: -77px;
  }
  .subhead {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #100f3a;
    margin-left: -70px;
  }
  .detail_content {
    text-align: justify;
    color: #7a798c;
    margin-left: -50px;
    font-size: 12px;
  }
  .circle {
    margin-left: -14px;
  }
  .loader_title {
    margin-top: 21px;
    margin-left: 31px;

    font-size: 16px;
    font-weight: 700;
    color: #100f3a;
    text-transform: uppercase;
    line-height: 0.75;
  }
  .loader_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #7a798c;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1440px) {
  .main_subtitle {
    font-size: 30px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
  }
  .circle {
    text-align: center;
  }
  .main_title {
    font-size: 80px;
    font-weight: 800;
    color: #100f3a;
    line-height: 0.75;
    margin-top: 12px;
  }
  .subhead {
    font-size: 30px;
    font-weight: 700;
    color: #100f3a;
  }
  .detail_content {
    text-align: justify;
    color: #7a798c;
  }
  .loader_title {
    margin-top: 21px;
    margin-left: 31px;

    font-size: 16px;
    font-weight: 700;
    color: #100f3a;
    text-transform: uppercase;
    line-height: 0.75;
  }
  .loader_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #7a798c;
    margin-top: 12px;
  }
}
