@media only screen and (max-width: 425px) {
  .main_subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-left: -78px;
    text-align: center;
  }
  .main_title {
    font-size: 40px;
    font-weight: 800;
    color: #100f3a;
    line-height: 1;
    margin-top: 13px;
    text-align: center;
    margin-left: -77px;
  }
  .subhead {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #100f3a;
    margin-left: -70px;
  }
  .detail_content {
    text-align: justify;
    color: #7a798c;
    margin-left: -50px;
    font-size: 12px;
  }
  .contact_button {
    width: 239px;
    height: 55px;
    background: #8583e1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 26px;
  }
  .contact_button:hover {
    background: #100f3a;
    color: #ffffff;
  }
}
