@media only screen and (max-width: 425px) {
  .main_subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-left: -25px;
    text-align: center;
  }
  .main_title {
    font-size: 34px;
    font-weight: 800;
    color: #100f3a;
    line-height: 1;
    margin-top: 13px;
    text-align: center;
    margin-left: -35px;
  }
  .skill_content {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.85714;
    font-weight: 500;
    color: #838293;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
  .skill_margin {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .main_subtitle {
    font-size: 30px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.75;
    margin-left: -25px;
  }
  .main_title {
    font-size: 92px;
    font-weight: 800;
    color: #100f3a;
    line-height: 1;
    margin-top: 13px;

    margin-left: -35px;
  }
  .skill_content {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.85714;
    font-weight: 500;
    color: #838293;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
  .skill_margin {
    margin-top: 0px;
  }
}
